<% d = params[:d]; d = '@' if d.nil? or d.empty? %>
<% q = params[:q]; q = '' if q.nil? %>
<% b = params[:b]; b = '1111' if b.nil? or b.empty? %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script>
$(document).ready(function() {
  search = {
    add: function() {
      $('#keys').append("<a class='ui label key'>" + $('#key').val() + "<i class='icon close'></i></a>");
      $('#key').val('');
      $('.key').on('click', search.remove);
    },
    remove: function() {
      $(this).remove();
    }
  };
  //$('.ui.accordion').accordion();
  $('.key').on('click', search.remove);
  $('#add').on('click', search.add);
  $('#clear').on('click', function() {
    $('#keys').text('');
    $('.ui.calendar').calendar('clear');
    $('.ui.checkbox').checkbox('set checked');
  });
  $('#apply').on('click', function() {
    var startdate = $('#startdate').calendar('get date'), enddate = $('#enddate').calendar('get date');
    startdate = startdate != null ? moment(startdate).format("YYYY-MM-DD") : '';
    enddate = enddate != null ? moment(enddate).format("YYYY-MM-DD") : '';
    var d = startdate === '' && enddate === '' ? '' : startdate + "@" + enddate;

    var data = [];
    $('.ui.key').each(function() {data.push($(this).text());});
    var q = data.join(',');

    b = '';
    var chk = $('.ui.checkbox').checkbox('is checked');
    for (a in chk) if (chk[a]) b += '1'; else b += '0';
    window.location.href = window.location.pathname+"?"+$.param({'d': d, 'q': q, 'b': b})
  });
  $('#update').on('click', function() {
    $(this).addClass('loading');
    $.ajax({
      url: '/files/work',
      success: function(res) {
        $('#update').removeClass('loading');
      }
    });
  });
  $('#startdate').calendar({
    type: 'date',
    endCalendar: $('#enddate')
  });
  $('#enddate').calendar({
    type: 'date',
    startCalendar: $('#startdate')
  });
});
</script>

<div class="ui centered grid">
  <div class="row">
    <div class="four wide column">
      <div class="row">
        <div class="ui basic segment">
          <div class="ui segment">
            <h4><i class="filter icon"></i>Filter</h4>
            <div class="ui form">
              <h5 class="ui dividing header">기간</h5>
              <div class="inline fields">
                <div id="startdate" class="eight wide ui field calendar">
                  <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input id="start" type="text" placeholder="Start" value="<%= d.split('@')[0] %>">
                  </div>
                </div>~
                <div id="enddate" class="eight wide ui field calendar" style="padding: 0 0 0 1em;">
                  <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input id="end" type="text" placeholder="End" value="<%= d.split('@')[1] %>">
                  </div>
                </div>
              </div>
              <h5 class="ui dividing header">검색어</h5>
              <div class="ui fluid action input">
                <input id="key" type="text" placeholder="Ex. 2016...">
                <button id="add" class="ui button">Add</button>
              </div>
              <div class="ui hidden divider"></div>
              <div id="keys" class="ui labels">
                <% q.split(',').each do |key| %>
                <a class='ui label key'><%= key %><i class='icon close'></i></a>
                <% end %>
              </div>
              <h5 class="ui dividing header">게시판</h5>
              <div class="inline fields">
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" <%= 'checked' if b[0].eql? '1' %>>
                    <label>공지사항</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" <%= 'checked' if b[1].eql? '1' %>>
                    <label>가정통신문</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" <%= 'checked' if b[2].eql? '1' %>>
                    <label>자료실</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" <%= 'checked' if b[3].eql? '1' %>>
                    <label>대회안내</label>
                  </div>
                </div>
              </div>
              <div class="ui hidden divider"></div>
            </div>
            <div class="inline fields">
              <button id="apply" class="mini ui red right floated basic button field">Apply</button>
              <button id="clear" class="mini ui teal right floated basic button field">Clear</button>
            </div>
            <div class="ui fitted hidden clearing divider" style="border-color: transparent !important;"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="ui basic segment">
          <div class="ui segment">
            <h4><i class="refresh icon"></i>Update</h4>
            <div class="ui fitted hidden divider"></div>
            <div>Last Update : <span id="updated_at"><%= @updated_at %></span></div>
            <div class="ui hidden divider"></div>
            <div class="inline fields">
              <button id="update" class="mini ui red right floated basic button field">Update</button>
            </div>
            <div class="ui fitted hidden clearing divider"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="nine wide column">
      <div class="ui basic segment">
        <table class="ui compact table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Size</th>
              <th>Location</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <% @data.each do |d| %>
            <tr>
              <td><%= link_to d.name, '/files/download?q=' + d.name, :target => '_blank' %></td>
              <td><%= number_to_human_size(d.size) %></td>
              <td><%= link_to d.location, d.link, :target => '_blank' %></td>
              <td><%= d.uploaded_at %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @data %>
      </div>
    </div>
  </div>
</div>
